/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	a {
		text-decoration: none; /*隱藏超連結底線*/
	}

/* ------------------------ header set up ------------------------ */

	*{  box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;}


	@media screen and (min-width: 1200px) {css-code;}
	@media screen and(min-width: 960px) and (max-width: 1199px) {css-code;}
	@media screen and(min-width: 768px) and (max-width: 959px) {css-code;}
	@media screen and(min-width: 480px) and (max-width: 767px) {css-code;}
	@media screen and (max-width: 479px) {css-code;}

	::selection { /*滑鼠選取文字反白的顏色設定for谷歌*/
	        background: #516141; /*背景顏色值*/
	        color: #FFF;} /*文字顏色值*/

	.wrap {
		max-width: 1024px; mix-width:480px;
		margin: 0 auto;
		font-size: 13pt;
		font-family: Helvetica Neue,Helvetica,Roboto,Arial,Noto Sans TC,Apple LiGothic,å¾®è»Ÿæ­£é»‘é«”,Microsoft JhengHei,sans-serif;
		font-weight: bold;

	}



/* ------------------------ Body starts --------------------- */


	.box{
		height: 50px;
		max-width: 100%;
		background: rgba(67,81,58,0.7);
		display: block;
		position: relative;
		z-index: 10;
		margin: -52px 0 0 0;
	}

	.menu {
		float: right;
		z-index: 27;
		top: 12px;
		right: 8px;
		list-style: none;
		margin: 6px 0 0 0;
	}


	.menu li {
		float: left;
		margin-right: 40px;
	}

	.menu a {
		color: #FFF;
		padding: 10px 15px;
		display: block; 
	 }

	.menu a:hover {
		border-bottom: 7px solid #b0cf93;
		color: #b0cf93;
	}



	.photo{
		max-width:100%;
		margin: 0px 0 0 0;
	}


/*------------------------- footer starts -----------------------*/

	.footer {
		max-width:1024px; 
		background: #526243;
		padding: 15px 0px;
	}

	.footer p {
		max-width:1024px; 
		display: block;
	    text-align: center;
		color:#fff;
	}

	.clearfix {
		clear: both;
	}

/*------------------------- font starts -----------------------*/

	h1 {
		font-size: 36px;
		color: #00cc99;
	}


	h1 span {
		font-size: 36px;
		color: #fff;
		text-shadow: 0px 1px 0px #999, 
					 0px 2px 0px #888, 
					 0px 3px 0px #777, 
					 0px 4px 0px #666, 
					 0px 5px 0px #555, 
					 0px 6px 0px #444, 
					 0px 7px 0px #333, 
					 0px 8px 7px #141437;
	}


	h2 {
		font-size: 24px;
		color: #00cc99;
		font-weight: bolder;
	/*	margin: 0px 10px;*/
	}

	h2 span{
		font-size: 14px;
		color: #9b9b9b;
		margin: 0px 10px;
	}

	h3 {
		font-size: 24px;
		color: rgb(162, 171, 93);
		line-height: 28px;
    	margin: 0px 0px 0.35em;
	}

	h4 {
		color: rgb(104, 119, 41);
	    font-size: 18px;
	    line-height: 28px;
	    margin: 0px  0px 0px 0px ;
	}


	p {
		font-size: 16px;
		color: #9b9b9b;
		line-height: 24px;
		margin: 0px  0px 0px 20px ;
	}

	p span{
		font-size: 14px;
		color: #000;
	/*	margin: 0px 10px;*/
	}

/*------- text setting end ----------------------*/
/*--------index_content -------------------------*/

.content {
	margin: 20px 0px 0px 0px;
	position: relative;
}


.Questionnaire {
	overflow-x: hidden;
	overflow-y: hidden;

}

/*.Send:hover {
  	cursor: pointer; 滑鼠滑過時鼠標變成手指
}*/


/*--------index_fqa_contents -------------------------*/



.info, .traffic, .parking{
	min-width: 320px; max-width:1024px;
	margin: 50px 0px 50px 50px;
}


.traffic li{
	margin: 20px 0px;
}


.parking{
	min-height:300px;

}

.parking li{
	margin: 20px 0px;
}

.parkinfo{
 	float: left;
 	padding:45px;
	margin-right:122px;

}

.parking img{
	min-width: 250px; max-width: 358px;
 	float: left;
}

.parking img {
    cursor: pointer;
    transition: all 0.6s;
}
.parking img:hover {
    transform: scale(1.4);
}




